<div class="central-meta new-pst item">
    <div class="new-postbox1">
        <figure>
            <img src="assets/images/admin.jpg" alt="">
        </figure>
        <div class="newpst-input">
            <h3>{{UserName}}</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="selectBox">
                        <div class="globeIcon"></div>
                        <select class="sharewith form-control" id="PrivacyType" name="PrivacyType"
                            [(ngModel)]="PrivacyType">
                            <option value="1" selected="true">Public</option>
                            <option value="2">All Customer</option>
                            <option value="3">All Broker</option>
                            <option value="4">Specific Customer</option>
                            <option value="5">Specific Broker</option>
                            <option value="6">Management</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="selectBox float-right">
                        <div class="d-flex avcer4567">
                            <label>Post Type</label>
                            <div class="dbox123">
                                <select class="sharewith form-control" id="PostType" name="PostType"
                                    [(ngModel)]="PostType">
                                    <option value="1" selected="true">Promotion</option>
                                    <option value="2">New Product</option>
                                    <option value="3">Price change</option>
                                    <option value="4">Supermarket/ Act/ Route Info</option>
                                    <option value="5">Sales contest</option>
                                    <option value="6">Sales communicator</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="textareaFrom mt-3 mb-3">
        <textarea id="header" name="header" [(ngModel)]="header" rows="2" placeholder="Post Headers"></textarea>
    </div>

    <div class="textareaFrom mt-3 mb-3">
        <textarea id="commands" name="commands" [(ngModel)]="commands" rows="3" (keydown.enter)="onKeypress($event)"
            placeholder="Post Description"></textarea>
    </div>
    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                <div class="card1">
                    <div class="card-header1" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#collapseOne">
                                <span class="float-left">Add Pictures</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>

                    <!-- <div class="card-header1" id="image">
                        <h2 class="mb-0">
                            <input type="file" class="hidden" (change)="onFileSelect($event)"/>
                        </h2>
                    </div> -->

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body1">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="image-container">
                                        <div class="image-item">
                                            <img *ngFor='let url of urls' [src]="url" height="200"><br />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="add-pic mt-3">
                                        <form class="edit-phto">
                                            <i class="fa fa-camera-retro"></i>
                                            <label class="fileContainer">
                                                Add Pictures
                                                <!-- <input type="file" /> -->
                                                <input type="file" id="postmedia" name="postmedia" accept="image/png, image/gif, image/jpeg"
                                                    [(ngModel)]="postmedia" (change)="onSelectFile($event)" multiple>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Add media files-->

                <div class="card1">
                    <div class="card-header1" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseTwo">
                                <span class="float-left">Add Files</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                        data-parent="#accordionExample">
                        <div class="card-body1">
                            <div class="row">
                                <div class="col-lg-12 text-center">

                                    <button class="btn btnexcel mr-2">
                                        <i class="fa fa-file-excel-o"></i>
                                            <label class="fileContainer">
                                                Upload Excel
                                                <input type="file" id="excel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="excel" [(ngModel)]="excel"
                                                    (change)="onSelectExcelFile($event)" />
                                            </label>
                                    </button>

                                    <button class="btn btnpdf mr-2">
                                        <i class="fa fa-file-pdf-o"></i>
                                        <label class="fileContainer">
                                            Upload PDF
                                            <input type="file" accept=".pdf" id="pdf" name="pdf" [(ngModel)]="pdf"
                                                (change)="onSelectPdfFile($event)" />
                                        </label>
                                    </button>
                                    <button class="btn btnppt">
                                        <i class="fa fa-file-powerpoint-o"></i>
                                            <label class="fileContainer">
                                                Upload PPT
                                                <input type="file" id="ppt" accept=".pptx" name="ppt" [(ngModel)]="ppt"
                                                    (change)="onSelectPPTFile($event)" />
                                            </label>
                                    </button>
                                    <!-- <div class="add-pic mt-3">
                                        <form class="edit-phto">
                                            


                                            
                                        </form>
                                    </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card1">
                    <div class="card-header1" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseThree">
                                <span class="float-left">Post Duration</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body1">
                            <form method="post">
                                <label>Choose Date Range</label>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <!-- <input type="date" id="input" name="trip-start" value="2018-07-22"
                                                min="2018-01-01" max="2018-12-31" required="required" /> -->
                                            <input type="date" class="form-control" [(ngModel)]="FromDate"
                                                name="FromDate" id="input" />
                                            <label class="control-label" for="input">From Date</label><i
                                                class="mtrl-select"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <!-- <input type="date" id="input" name="trip-start" value="2018-08-22"
                                                min="2018-01-01" max="2018-12-31" required="required" /> -->
                                            <input type="date" class="form-control" [(ngModel)]="ToDate" name="ToDate"
                                                id="input" />
                                            <label class="control-label" for="input">To Date</label><i
                                                class="mtrl-select"></i>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="card1" style="display: none;">
                    <div class="card-header1" id="headingFour">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseFour">
                                <span class="float-left">Tag Person</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body1 editing-interest">
                            <form method="post" class="mt-0">
                                <div class="row">
                                    <!-- <tag-input [(ngModel)]="tagItems" [modelAsStrings]="true">
                                    </tag-input> -->
                                </div>
                                <!-- <ng-multiselect-dropdown name="city" [placeholder]="'Select City'" [data]="cities"
                                    formControlName="city" [disabled]="disabled" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)">
                                </ng-multiselect-dropdown> -->

                            </form>
                        </div>
                    </div>
                </div>

                <div class="card1" style="display: none;">
                    <div class="card-header1" id="headingFive">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseFive">
                                <span class="float-left">Specify Location</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                        data-parent="#accordionExample">
                        <div class="card-body1 editing-interest">
                            <form method="post" class="mt-0">
                                <div class="form-search2 mb-2">
                                    <input type="text" placeholder="Search for Location">
                                    <button data-ripple=""><i class="ti-search"></i></button>
                                </div>

                                <label>Added </label>
                                <ol class="interest-added mt-1 mb-3">
                                    <li><a href="#" title="">New York City, NY <i class="ti ti-close"></i></a></li>
                                    <li><a href="#" title="">Los Angeles, CA <i class="ti ti-close"></i></a></li>
                                    <li><a href="#" title="">Chicago, IL <i class="ti ti-close"></i></a></li>
                                </ol>

                                <div class="sidebar suggest mt-1">
                                    <div class="sidebar static">
                                        <div class="widget ">
                                            <ul class="followers">
                                                <li>
                                                    <img src="assets/images/map.png" alt="">
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="">Houston, TX</a></h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="assets/images/map.png" alt="">
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="">Phoenix, AZ</a></h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="assets/images/map.png" alt="">
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="">Philadelphia, PA</a></h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="assets/images/map.png" alt="">
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="">San Antonio, TX</a></h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="assets/images/map.png" alt="">
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="">Dallas, TX</a></h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <div class="card-header1" id="headingSix">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseSix">
                                <span class="float-left">Tag Post</span>
                                <span class="float-right"><i class="fa fa-plus "></i></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body1">
                            <form method="post" class="mt-0">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <!-- <label class="control-label" for="tagItems">Tag Person</label><i
                                            class=""></i> -->
                                            <tag-input [(ngModel)]="tagItems" [modelAsStrings]="true"
                                                class="form-control customSelect" name="tagItems" id="tagItems">
                                            </tag-input>
                                            <!-- <label class="control-label" for="tagItems">Tag Person</label><i
                                                class=""></i> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <select class="form-control customSelect" [(ngModel)]="CompanyCode"
                                                name="CompanyCode" id="CompanyCode"
                                                (change)="onChangeLoadDivision($event.target.value)">
                                                <option *ngFor="let company of CompanyListData"
                                                    [value]="company.CompanyId">
                                                    {{company.CompanyName}}</option>
                                            </select>
                                            <label class="control-label" for="CompanyCode">Company</label><i
                                                class=""></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <select class="form-control customSelect" [(ngModel)]="division"
                                                name="division" id="division"
                                                (change)="onChangedDivision($event.target.value)">
                                                <option *ngFor="let brkdiv of DivisionListData"
                                                    [value]="brkdiv.DivisionId">
                                                    {{brkdiv.DivisionName}}</option>
                                            </select>
                                            <label class="control-label" for="division">Division</label><i class=""></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <select class="form-control customSelect" [(ngModel)]="group" name="group"
                                                id="group">
                                                <option *ngFor="let grp of GroupListData" [value]="grp.GroupId">
                                                    {{grp.GroupId}}</option>
                                            </select>
                                            <label class="control-label" for="group">Group</label><i class=""></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <select class="form-control customSelect" [(ngModel)]="zone" name="zone"
                                                id="zone">
                                                <option *ngFor="let zonelist of ZoneListData" [value]="zonelist.Zone">
                                                    {{zonelist.ZoneName}}</option>
                                            </select>
                                            <label class="control-label" for="zone">Zone</label><i class=""></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="fa-3x" style="text-align: center;">
                <i class="fa fa-spinner fa-spin" style="font-size: 80px; color: royalblue;" *ngIf="loading"></i>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info mr-2" (click)="SaveUserPost();">
                                Post </button> &nbsp;
                            <button type="button" class="btn btn-secondary" (click)="cancel();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div><!-- add post new box -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: rgb(76, 38, 136)">Please Wait. </p>  
    </ngx-spinner>

