.customSelect{border: solid 1px #ced4da; margin-top: 5px;
    border-radius: 0;}
    .btn label{color: #fff;}
    .btnexcel{background-color: #1f6e43; color: #fff;}
    .btnpdf{background-color: #c50606; color: #fff;}
    .btnppt{background-color: #cc4525; color: #fff;}