<h1 *ngIf="logedInRole=='13' || logedInRole=='3' else elseBlock">No Data Found</h1>
<ng-template #elseBlock>
    <div class="central-meta item" *ngFor='let dt of notfyListData'>
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="assets/images/thumb-1.jpg" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                    <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                            {{dt.POSTTYPE}}</span> </span>
                    <a (click)="makepostFav(dt.POSTNO)" class="lovePost"
                        [ngStyle]="{'color':click ? 'red' : '#000'}"></a>
                </div>
                <div class="post-meta">

                    <div *ngIf="dt.POSTMEDIAS.length == 1" class="img-single">

                        <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 1" [images]="dt.POSTMEDIAS" #nav
                            [imageSize]="{width: '100%', height: 400}"></ng-image-slider>
                        <!-- <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 1" [images]="dt.POSTMEDIAS" #nav [imageSize]="{width: '50%'}"></ng-image-slider> -->
                    </div>
                    <div *ngIf="dt.POSTMEDIAS.length == 2" class="img-multiples">
                        <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                        <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 2" [images]="dt.POSTMEDIAS" #nav
                            [imageSize]="{width: '49%', height: 300}"></ng-image-slider>
                    </div>
                    <div *ngIf="dt.POSTMEDIAS.length == 3" class="img-multiples">
                        <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                        <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 3" [images]="dt.POSTMEDIAS" #nav
                            [imageSize]="{width: '32%', height: 300}"></ng-image-slider>
                    </div>
                    <div *ngIf="dt.POSTMEDIAS.length > 3" class="img-multiples">
                        <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                        <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 3" [images]="dt.POSTMEDIAS" #nav>
                        </ng-image-slider>
                    </div>

                    <hr>
                    <!-- <div>
                  <table>
                      <thead>
                          <tr>
                              <th scope="col" *ngIf="dt.Excelmedia!=null">View / Download Excel</th>
                              <th scope="col" *ngIf="dt.Pdfmedia!=null">View / Download PDF</th>
                              <th scope="col" *ngIf="dt.PPTmedia!=null">View / Download PPT</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td data-label="Account" *ngIf="dt.Excelmedia!=null">
                                  <a [href]="dt.Excelmedia" target="_blank" class="btn btnexcel"><i
                                          class="fa fa-file-excel-o"></i> view/download</a>
                              </td>
                              <td data-label="Due Date" *ngIf="dt.Pdfmedia!=null">
                                  <a [href]="dt.Pdfmedia" target="_blank" class="btn  btnpdf"><i
                                          class="fa fa-file-pdf-o"></i> view/download</a>
                              </td>
                              <td data-label="Amount" *ngIf="dt.PPTmedia!=null">
                                  <a [href]="dt.PPTmedia" target="_blank" class="btn btnppt"> <i
                                          class="fa fa-file-powerpoint-o"></i> view/download</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div> -->
                    <div class="description">
                        <span>{{dt.Header}}</span>
                        <p class="mb-0 pb-0 commantcolor multi_lines_text" [innerHTML]="dt.COMMENTS">
                            <!-- {{dt.COMMENTS}} -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template>