<div class="central-meta item">
    <!-- <label>Search User Post for {{pageType}}</label> -->
    <label>Search User Post</label>
    <div class="activity-meta">
        <div class="row">
            <div class="col-lg-3" style="display: none;">
                <label>Post Type</label>
                <select class="sharewith form-control" id="PostType" name="PostType" [(ngModel)]="PostType">
                    <option value="1">Promotion</option>
                    <option value="2">New Product</option>
                    <option value="3">Price change</option>
                    <option value="4">Supermarket/ Act/ Route Info</option>
                    <option value="5">Sales contest</option>
                    <option value="6">Sales communicator</option>
                </select>
            </div>

            <div class="col-lg-3">
                <label>From Date</label>
                <input type="date" class="form-control" [(ngModel)]="startdate" name="startdate" />
            </div>
            <div class="col-lg-3">
                <label>To Date</label>
                <input type="date" class="form-control" [(ngModel)]="enddate" name="enddate" />
            </div>
            <div class="col-lg-3">
                <label>Search by Tag</label>
                <input type="text" class="form-control" [(ngModel)]="tagName" name="tagName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" style="padding-top: 33px;">
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                    (click)="searchuserData()">Search</button>&nbsp;
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                    (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="central-meta item" *ngFor='let dt of userPostList'>
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="assets/images/thumb-1.jpg" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                        {{dt.POSTTYPE}}</span> </span>
                <a (click)="makepostFav(dt.POSTNO)" class="lovePost"></a>
            </div>
            <div class="post-meta">

                <div *ngIf="dt.POSTMEDIAS.length ==1" class="img-single">
                    <div *ngFor="let dt of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer01 col col-lg-6">
                                <img [src]="dt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 2" class="img-multiples">
                    <div *ngFor="let d2t of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer02 column03 col col-lg-6">
                                <img [src]="d2t.image" (click)="openImg1(j,dt.POSTMEDIAS)" [ngClass]="{'active': selectedindex  == j}" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer02 column02 col col-lg-6">
                                <img [src]="d2t.image" (click)="openImg1(j, dt.POSTMEDIAS)" [ngClass]="{'active': selectedindex  == j}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 3" class="img-multiples">
                    <div *ngFor="let dtt of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer column31">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer column32">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 4" class="img-multiples">
                    <div *ngFor="let d4t of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer3 column30">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer3 column301">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==3" class="imgContainer3 column302">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length > 4" class="img-multiples">
                    <div *ngFor="let dts of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer3 column30">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer3 column301">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==3" class="imgContainer3 column302">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div class="overlay column302">
                                <p *ngIf="j==3" class="restImages"> + {{dt.POSTMEDIAS?.length - 4}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 3" [images]="dt.POSTMEDIAS" #nav></ng-image-slider> -->
                </div>

                <hr>
                <div>
                    <h5 style="text-align: center;">Media Files</h5>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">View / Download Excel</th>
                                <th scope="col">View / Download PDF</th>
                                <th scope="col">View / Download PPT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Account">
                                    <a [href]="dt.Excelmedia" target="_blank" class="btn btnexcel"><i class="fa fa-file-excel-o"></i> view/download</a>
                                </td>
                                <td data-label="Due Date">
                                    <a [href]="dt.Pdfmedia" target="_blank" class="btn  btnpdf"><i class="fa fa-file-pdf-o"></i> view/download</a>
                                </td>
                                <td data-label="Amount">
                                    <a [href]="dt.PPTmedia" target="_blank" class="btn btnppt"> <i class="fa fa-file-powerpoint-o"></i> view/download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="description">
                    <span>{{dt.Header}}</span>
                    <p class="mb-0 pb-0 commantcolor multi_lines_text" [innerHTML]="dt.COMMENTS">
                        <!-- {{dt.COMMENTS}} -->
                    </p>
                </div>
            </div>
            <!-- image enlarge start -->
            <div [style.display]="showModal ? 'block' : 'none'" class="modal custommodal" id="imagemodal" tabindex="-1"
                role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                (click)="hide()">Close</button>
                        </div>
                        <!-- <div class="imgEnlarge modal-body">
                      <img src="{{currImgUrl}}" >
                    </div> -->
                        <button style="margin-right: 1043px" type="button" (click)="onPrevious()" [disabled]="counter === 0">
                           << Previous
                        </button>
                        <button style="margin-left: 1053px;margin-top: -30px;" type="btnext button" (click)="onNext()" [disabled]="this.counter == this.imgUrl?.length - 1">
                            Next >>
                        </button>
                        <div class="imgEnlarge" [@animImageSlider]="counter">
                            <div *ngFor="let imge of imgUrl; let i = index">
                                <img [src]="imge.image" *ngIf="i === counter" style="height:600px; width:600px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- image enlarge end -->
        </div>
    </div>
</div>

<!-- <ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template> -->