/* .form-search{position: relative;} */
.createPost{
    padding: 7px 20px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    border-radius: 30px;
}
.top-area > ul{min-width: 340px;}
.createPost i{margin-right: 5px;}
