﻿<div class="postoverlay"></div>
<div class="responsive-header">
	<div class="mh-head first Sticky">
		<span class="mh-btns-left">
			<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
		</span>
		<span class="mh-text">
			<a href="newsfeed.html" title=""><img src="assets/images/logo.png" alt=""></a>
		</span>
	</div>

	<div class="mh-head second">
		<form class="mh-form">
			<input placeholder="search" />
			<a href="#/" class="fa fa-search"></a>
		</form>
	</div>
</div><!-- responsive header -->

<div class="topbar stick">
	<div class="logo">
		<a title="" href="newsfeed.html"><img src="assets/images/logo.png" alt=""></a>
	</div>

	<div class="top-area">
		<ul class="setting-area">
			<li style="display: none;">
				<div class="searched active">
					<form method="post" class="form-search">
						<input type="text" placeholder="Search for posts / tags / keywords">
						<button data-ripple=""><i class="ti-search"></i></button>
					</form>
				</div>
			</li>
			<li *ngIf="userRole === '1'">
				<!-- <li *ngIf="userRole === '13' || userRole === '3'"> -->
				<a class="btn btn-info createPost mr-5" routerLink="/myPost"><i class="ti-plus"></i> Create Post</a>
			</li>
			<li><a href="newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>

			<!-- <li *ngIf="userRole=='13' || userRole=='3' else notification"> -->
				<li *ngIf="userRole=='1' else notification">
				<a>
					<i class="ti-bell"></i>
					<span></span>
				</a>
			</li>
			<ng-template #notification>
				<li>
					<a routerLink="/notification" title="Notification" data-ripple="">
						<i class="ti-bell"></i>
						<span *ngFor="let notifCount of notificationCountNo"
							style="color:red"><b>{{notifCount.CountNo}}</b></span>
					</a>
				</li>
			</ng-template>

		</ul>
		<div class="user-img">
			<img src="assets/images/admin.jpg" alt="">
			<span class="status f-online"></span>
			<div class="user-setting">
				<!-- <a href="#" title=""><i class="ti-user"></i> view profile</a>
					<a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a>
					<a href="#" title=""><i class="ti-target"></i>activity log</a>
					<a href="#" title=""><i class="ti-settings"></i>account setting</a> -->

				<a class="ti-power-off" (click)=logout() [routerLink]='["../login"]'>Logout</a>
				<!-- <a href="#" title=""><i class="ti-power-off"></i>log out</a> -->
			</div>
		</div>

	</div>
</div><!-- topbar -->