﻿<aside class="sidebar static">

    <div class="widget">
        <h4 class="widget-title">Shortcuts</h4>
        <ul class="naves">
            <!-- <li *ngIf="userRole === '13' || userRole === '3'">
                <i class="ti-files"></i>
                <a routerLink="/myPost">My Posts</a>
            </li> -->

            <li>
                <i class="ti-mouse-alt"></i>
                <a routerLink="/userpost">News Feed</a>
            </li>

            
            <li>
                <i class="ti-heart"></i>
                <a routerLink="/favourite">Favourite</a>
            </li>

            <!-- <li>
                <i class="ti-bell"></i>
                <a href="#" title="">Notifications</a>
            </li> -->


            <li [routerLinkActive]='["link-active"]'>
                <i class="ti-power-off"></i>
                <a class="waves-effect waves-block waves-light profile-button" (click)=logout()
                    [routerLink]='["../login"]'>Logout</a>
            </li>
        </ul>
    </div><!-- Shortcuts -->
    <div class="widgetpromo">
       <!-- <a skipLocationChange routerLink="/promotion"><img src="assets/images/promo-search-1.jpg"></a>
       <a routerLink="/salescontest"><img src="assets/images/promo-search-2.jpg"></a>
       <a routerLink="/newProduct"><img src="assets/images/promo-search-3.jpg"></a> -->
       <a routerLink="/salescomm/1"><img src="assets/images/promo-search-1.jpg" (click)="selectedevent('1')"></a>
       <a routerLink="/salescomm/5"><img src="assets/images/promo-search-2.jpg" (click)="selectedevent('5')" ></a>
       <a routerLink="/salescomm/2"><img src="assets/images/promo-search-3.jpg" (click)="selectedevent('2')"></a>
       <a routerLink="/supermarket"><img src="assets/images/promo-search-4.jpg"></a>
       <a routerLink="/priceChange"><img src="assets/images/promo-search-5.jpg"></a>
    </div><!-- recent activites -->
    <div class="widget" style="display: none;">
        <div class="card-header1 p-2 pl-3 bg-white">
            Filter
        </div>
        <h4 class="widget-title mb-3">Type of Post</h4>
        <ul class="checkbox123 mb-0 pb-0">
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <!-- <label>
                             <input type="checkbox"><i class="check-box"></i>Promotion 
                            
                        </label> -->
                        <select class="sharewith form-control" id="PostType" name="PostType" [(ngModel)]="PostType">
                            <option value="1" selected="true">Promotion</option>
                            <option value="2">New Product</option>
                            <option value="3">Price change</option>
                            <option value="4">Supermarket/ Act/ Route Info</option>
                            <option value="5">Sales contest</option>
                            <option value="6">Sales communicator</option>
                        </select>
                    </div>
                </div>
            </li>
            <!-- <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>New Product
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Price change
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Supermarket/ Act/ Route Info
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Sales contest
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Sales communicator
                        </label>
                    </div>
                </div>
            </li> -->
        </ul>
        <hr style="display: none;">
        <h4 style="display: none;" class="widget-title mb-3 mt-0 pt-2">Customers</h4>
        <div class="SearchCustomers" style="display: none;">
            <button data-ripple=""><i class="ti-search"></i></button>
            <input type="text" placeholder="Search Customers">

        </div>
        <ul class="checkbox123 mb-0 pb-0" style="display: none;">
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Charles Koch
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>David Koch
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Larry Page
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Sergey Brin
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Michael Bloomberg
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Warren Buffett
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="activity-meta">409 MORE</a>
            </li>
        </ul>
        <hr>
        <h4 class="widget-title mb-3 mt-0 pt-2">Duration</h4>
        <ul class="checkbox123 mb-0 pb-0">
            <li>
                <div class="activity-meta">
                    <a href="#">Today</a>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <a href="#">Last 7 Days</a>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <a href="#">Last 15 Days</a>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <a href="#">Last Month</a>
                </div>
            </li>
        </ul>

        <div class="row">
            <div class="col-lg-12">
                <form method="post" class="FromToDate">
                    <div class="form-group half">
                        <input type="date" id="input" required="required">
                        <label class="control-label" for="input">From Date</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group half">
                        <input type="date" required="required">
                        <label class="control-label" for="input">To Date</label><i class="mtrl-select"></i>
                    </div>
                    <a href="#" class="btn btn-default btn-sm customBtn">Search</a>
                </form>
            </div>
        </div>

        <hr>

        <h4 class="widget-title mb-3 mt-0 pt-2" style="display: none;">Location</h4>

        <div class="SearchCustomers" style="display: none;">
            <button data-ripple=""><i class="ti-search"></i></button>
            <input type="text" placeholder="Search Location">

        </div>

        <ul class="checkbox123 mb-0 pb-0" style="display: none;">
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>New York City, NY
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Los Angeles, CA
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Chicago, IL
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Houston, TX
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Phoenix, AZ
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="activity-meta">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><i class="check-box"></i>Philadelphia, PA
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="activity-meta">109 MORE</a>
            </li>
        </ul>
    </div>
</aside>