<app-header></app-header>
<section>
    <div class="gap gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <app-sidenav class="col-lg-3"></app-sidenav>
                        <!-- <app-mypost class="col-lg-9"></app-mypost> -->
                        <div class="col-lg-9">
                            <router-outlet></router-outlet>
                        </div>
                        <!-- <router-outlet class="col-lg-9"></router-outlet> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>