<div class="central-meta item">
    <label>Search User Post</label>
    <div class="activity-meta">
        <div class="row">
            <div class="col-lg-3" style="display: none;">
                <label>Post Type</label>
                <select class="sharewith form-control" id="PostType" name="PostType" [(ngModel)]="PostType">
                    <option value="1">Promotion</option>
                    <option value="2">New Product</option>
                    <option value="3">Price change</option>
                    <option value="4">Supermarket/ Act/ Route Info</option>
                    <option value="5">Sales contest</option>
                    <option value="6">Sales communicator</option>
                </select>
            </div>

            <div class="col-lg-3">
                <label>From Date</label>
                <input type="date" class="form-control" [(ngModel)]="startdate" name="startdate" />
            </div>
            <div class="col-lg-3">
                <label>To Date</label>
                <input type="date" class="form-control" [(ngModel)]="enddate" name="enddate" />
            </div>
            <div class="col-lg-3">
                <label>Search by Tag</label>
                <input type="text" class="form-control" [(ngModel)]="tagName" name="tagName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" style="padding-top: 33px;">
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                    (click)="searchuserData()">Search</button>&nbsp;
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                    (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="central-meta item" *ngFor='let dt of userPostList'>
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="assets/images/thumb-1.jpg" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                        {{dt.POSTTYPE}}</span> </span>
                <a (click)="makepostFav(dt.POSTNO)" class="lovePost"></a>
            </div>
            <div class="post-meta">

                <div *ngIf="dt.POSTMEDIAS.length == 1" class="img-single">

                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 1" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '100%', height: 400}"></ng-image-slider>
                    <!-- <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 1" [images]="dt.POSTMEDIAS" #nav [imageSize]="{width: '50%'}"></ng-image-slider> -->
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 2" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 2" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '49%', height: 300}"></ng-image-slider>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 3" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 3" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '32%', height: 300}"></ng-image-slider>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length > 3" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 3" [images]="dt.POSTMEDIAS" #nav></ng-image-slider>
                </div>

                <hr>
                <div>
                    <h5 style="text-align: center;">Media Files</h5>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">View / Download Excel</th>
                                <th scope="col">View / Download PDF</th>
                                <th scope="col">View / Download PPT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Account">
                                    <a [href]="dt.Excelmedia" target="_blank" class="btn btnexcel"><i class="fa fa-file-excel-o"></i> view/download</a>
                                </td>
                                <td data-label="Due Date">
                                    <a [href]="dt.Pdfmedia" target="_blank" class="btn  btnpdf"><i class="fa fa-file-pdf-o"></i> view/download</a>
                                </td>
                                <td data-label="Amount">
                                    <a [href]="dt.PPTmedia" target="_blank" class="btn btnppt"> <i class="fa fa-file-powerpoint-o"></i> view/download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="description">
                    <span>{{dt.Header}}</span>
                    <p class="mb-0 pb-0 commantcolor multi_lines_text" [innerHTML]="dt.COMMENTS">
                        <!-- {{dt.COMMENTS}} -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template>