.fontcolor{ 
    font: bold;
    font-size: 15px;
    color: blue;
}

.commantcolor{
    color: black;
    font-size: 15px;
}

.fontcolor1{ 
    font: bold;
    font-size: 15px;
    color: black;
}

.multi_lines_text { white-space: pre-line; }

.img-single {
    width: 840px;
    height: 400px;
    overflow: hidden;
    margin:0; 
    padding:0;
    text-align:center;
    /* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
   
}

.img-multiples {
    position: relative;
    overflow: hidden;
    margin:0; 
    padding:0;
    text-align:center;
    /* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
   
}
/* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
    
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }
    
    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    
    table tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em;
    }
    
    table th,
    table td {
      padding: .625em;
      text-align: center;
    }
    
    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }
    /* general styling */
    body {
      font-family: "Open Sans", sans-serif;
      line-height: 1.25;
    }

    
.lovePost:after{
	font-family:FontAwesome;
	content: "\f08a";
	position:absolute;
	clear:both;
	font-size:20px;
	right:15px;
	top:-5px;
  cursor: pointer;
}

.lovePost:hover:after{
	content: "\f004";
}

.lovePost:visited {
  color: red;
}

.lovePost:active {
  color: red;
}


.btnexcel{background-color: #1f6e43; color: #fff;}
    .btnpdf{background-color: #c50606; color: #fff;}
    .btnppt{background-color: #cc4525; color: #fff;}