<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright text-center">© Sales Comunicator 2020. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>