.fontcolor{ 
    font: bold;
    font-size: 15px;
    color: blue;
}

.commantcolor{
    color: black;
    font-size: 15px;
}

.fontcolor1{ 
    font: bold;
    font-size: 15px;
    color: black;
}
.coll{
  margin-top: -86px;
  margin-left: 540px;
  cursor: pointer;  
  position: relative;
  
}
.coll p{
  line-height: 123px;
}
.coll::before{
  content: '';
  left: 0;
  width: 100%;
  height: 100%;
position: absolute;
background-color: rgb(0, 0, 0, 0.2);
z-index: 0;
}

.overlay{
  position: absolute;
  /* top: 65%;
  left: 3%;
  z-index: 1000; */
 
  background-color: rgb(22, 11, 11);
 }
 .restImages   {
  color: rgb(255, 255, 255);
  font-size: 35px;
  }
 
 @media (min-width: 576px) {
  .restImages {
      font-size: 24px;
  }
 }
 .column32 {
  height: 250px;
  width: 250px;
  margin-left: 562px;
  margin-top: -393px;
 }
 .column31 {
  height: 250px;
  width: 250px;
  margin-left: 562px;
  margin-top: -197px;
 }

 .cover {
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.imgEnlarge {
  display: flex;
  width: 1200px; 
  height: 900px;
  background: rgb(19, 18, 18);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* overflow: hidden; */
}

.imgEnlarge img {
  max-width: 100%;
  height: calc(70vh - 16px);
  flex: 10;
}
p { word-break: break-all }

.imgContainer {
  display: flex;
  width: 242px; 
  height: 186px;
  background: rgb(214, 209, 209);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.row3{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.imgContainer3 {
  display: flex;
  width: 200px; 
  height: 100px;
  margin-left: 512px;
  margin-top: 4px;
  background: rgb(189 187 187);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;  
}

.imgContainer3 img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.imgContainer01 {
  display: flex;
  width: 600px; 
  height: 400px;
  margin-left: 230px;
  margin-top: 4px;
  background: #eee;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;  
}

.imgContainer01 img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.imgContainer03 {  
  display: flex;
  width: 600px; 
  height: 400px;
  margin-left: 512px;
  margin-top: 4px;
  background: rgb(214 209 209);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.imgContainer02 {
  /* display: flex;
  background: #eee;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px; */
  display: flex;
  width: 600px; 
  height: 400px;
  margin-left: 512px;
  margin-top: 4px;
  background: rgb(189, 187, 187);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.stroke{
  stroke: #fafafa;
}
.column03{
  margin-left: 110px;
  padding: 10px;
}
.column002{
  margin-left: 10px;
  padding: 10px;
}
.column02{  
  position: absolute;
  margin-left: 453px;
  margin-top: -400px;
  padding: 10px;
}
.imgContainer02 img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.imgContainer03 img {
  max-width: 100%;
  max-height: 100%;
}
.column30{
  width: 170px; height: 140px;margin-left: 591px;margin-top: -140px
}
.column301{
  width: 170px; height: 120px;
  margin-top: -400px; margin-left: 591px;
}
.column302{
  width: 170px; height: 130px;
  margin-top: -274px; margin-left: 591px;
}

.column333{
  position: relative;
  width: 170px; height: 140px;margin-left: 591px;margin-top: -140px
}

.column333 p{position: absolute; z-index: 1; width: 100%;}
 
@media (min-width: 1200px) { 
  .restImages {
      font-size: 35px;
  }
 }
.multi_lines_text { white-space: pre-line; }

.img-single {
    width: 840px;
    height: 400px;
    overflow: hidden;
    margin:0; 
    padding:0;
    text-align:center;
    /* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
   
}

.img-multiples {
    position: relative;
    overflow: hidden;
    margin:0; 
    padding:0;
    text-align:center;
    /* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
   
}
/* img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      min-height: 300px;
    } */
    
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }
    
    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    
    table tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em;
    }
    
    table th,
    table td {
      padding: .625em;
      text-align: center;
    }
    
    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }
    /* general styling */
    body {
      font-family: "Open Sans", sans-serif;
      line-height: 1.25;
    }

    
.lovePost:after{
	font-family:FontAwesome;
	content: "\f004";
	position:absolute;
	clear:both;
	font-size:20px;
	right:15px;
	top:-5px;
  cursor: pointer;
}

.lovePost:hover:after{
	content: "\f004";
}

.lovePost:visited {
  color: red;
}

.lovePost:active {
  color: red;
}

.custommodal {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.custommodal:before {
  content: "";
  display: none;
  background: rgba(0,0,0,0.2);
    opacity: 0.3 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  text-align: center;
}

.modal-content{text-align: left; padding: 0 !important;}

.popup {
  width: 400px;
  height: 400px;
  background-color: white;
}
.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}
.modal-md{width: 600px;}

/* .modal {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
  opacity: 0.2;
} */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* .btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}
.active, .btn:hover {
  background-color: #666;
  color: white;
} */
.column {
  float: left;
  padding: 10px;
  height: 100%;
}
.left {
  width: 55%;
}

.right {
  width: 25%;
}
.btnexcel{background-color: #1f6e43; color: #fff;}
    .btnpdf{background-color: #c50606; color: #fff;}
    .btnppt{background-color: #cc4525; color: #fff;}

    .btn.btn-link.collapsed{width: 100%;}
    .user{color: #000;}
    .modal-content{max-height: 80vh; overflow: auto;}

    .modal-body .btn-link {
      font-weight: 400;
      color: #fbfbfb;
      background-color: transparent;
      background: #007bff;
      margin-left: 10px;
    padding: 5px 10px 5px 0;
    margin-bottom: 5px;
  }

  .modal-body .commentmsg{background: #ddd; border-radius: 5px; font-size: 13px;
    color: #000; padding: 5px;}

    .custom-image-main
      {
        transition: .5s ease-in-out;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        z-index: 11;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
      }
      .modal-dialog{
        max-width:100%;
    } 

    /* slider  */
    .slick-slider {  
      width: 90%;  
      margin: auto;  
    } 
    .btnext{
      width: 85px;
      align-items: center;
      margin-left: auto;
      margin-top: -30px;
    }