.newpst-input select {
  width: 120px;
  padding: 5px 35px 5px 25px;
  font-size: 12px;
  color: #000;
  border: 1px solid #ccc;
  height: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow.png) 90% / 10% no-repeat #eee;
}

.selectBox{
    position: relative;
}
.selectBox .globeIcon{
    content: "";
    display: inline-block;
    background: url("../images/globe.png") no-repeat top right;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 7px;
    left: 5px;

}

/* CAUTION: IE hackery ahead */
.newpst-input select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
   .newpst-input  select {
        background:none\9;
        padding: 5px\9;
    } 
}


.textareaFrom textarea{
    background: #f4f2f2;
    color: #000;
}

.closeIcon{width: 25px; height: 25px; background:#f00; color: #fff; border-radius: 30px; position: absolute; right: 10px; top: 10px; text-align: center; line-height: 30px; font-weight: bold; font-size: 13px;}


.card-header1:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header1 {
    /* padding: .55rem 1.25rem; */
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body1{position: relative;}

.card1 {
    margin-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.form-search2{
    width: 100%;
}

.form-search2 button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #999;
    position: absolute;
    right: 10px;
    top: 22px;

}

.form-search2 input {
    border-style: none none solid;
    border-width: medium medium 0px;
    color: #333;
    font-size: 15px;
    padding: 8px 18px;
    width: 100%;
    border-radius: 25px;
}

.editing-interest label{text-transform: uppercase; font-size: 13px;}
.suggest  .widget{
    border: 0 !important;
}

.suggest  .widget ul{padding: 0 !important;}

/* ////////////////// */
/* .accordion .card-header1:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header1.collapsed:after {
    content: "\f067"; 
}

.accordion .card-header1.collapsed:after.show {
    content: "\f068";
} */

.accordion .btn-link{display: inline; width: 100%; color: #333;}
.accordion .btn-link:hover{color: #222;}

.accordion .fa{
    margin-right: 0.5rem;
}


.image-item{position: relative;}
.image-item a img{width: 25px;}
.image-item a{
    position: absolute;
    right: -10px;
    top: -10px;
}

.add-pic{position: relative; width: 150px; }
.edit-phto:hover{
    color: #0566c7 !important;
}

.edit-phto .fileContainer:hover{color: #0566c7 !important;}
.interest-added{background-color: #fff; border: solid 1px #0566c7; padding: 10px !important; border-radius: 5px;}

.dbox123 select{
    padding-left: 10px;
    width: 180px;
    background: url(../images/arrow.png) 90% / 7% no-repeat #eee;
}
.avcer4567 label{
    font-size: 13px;
    padding-top: 5px;
    margin-right: 15px;
}

.checkbox123 li{
    margin-bottom: 5px !important;
}

.checkbox label,.form-radio label{
    font-size:14px
}

.SearchCustomers{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px 20px 15px;
}
.SearchCustomers .form-search{
    width: 100%;
}

.SearchCustomers input{
    width: 100%;
    border-bottom: 1px solid #ccc !important;
    border: 0;
    padding-left: 25px;
    font-size: 14px;
}

.SearchCustomers button{
    position: absolute;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #999;
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 14px;
}

a.activity-meta{
    color: #007bff !important;
}

.activity-meta a{font-size: 14px;}
.FromToDate{
    padding:0px 15px;
}

.FromToDate input{
    font-size: 12px !important;
 }

 .FromToDate .control-label{
    font-size: 12px !important;
 }

 .customBtn{
    background: #eeeeee none repeat scroll 0 0;
    font-size: 11px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 5px 0;
    text-transform: uppercase;
    border: solid 1px #ccc !important;
 }