<div class="central-meta item">
    <label>Search User Post</label>
    <div class="activity-meta">
        <div class="row">
            <div class="col-lg-3">
                <label>Post Type</label>
                <select class="sharewith form-control" id="PostType" name="PostType" [(ngModel)]="PostType">
                    <option value="1">Promotion</option>
                    <option value="2">New Product</option>
                    <option value="3">Price change</option>
                    <option value="4">Supermarket/ Act/ Route Info</option>
                    <option value="5">Sales contest</option>
                    <option value="6">Sales communicator</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>From Date</label>
                <input type="date" class="form-control" [(ngModel)]="startdate" name="startdate" />
            </div>
            <div class="col-lg-3">
                <label>To Date</label>
                <input type="date" class="form-control" [(ngModel)]="enddate" name="enddate" />
            </div>
            <div class="col-lg-3">
                <label>Search by Tag</label>
                <input type="text" class="form-control" [(ngModel)]="tagName" name="tagName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="padding-top: 33px;">
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                    (click)="searchuserData()">Search</button>&nbsp;
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                    (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="central-meta item" *ngFor='let dt of userPostList;let i = index'>
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="assets/images/thumb-1.jpg" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                        {{dt.POSTTYPE}}</span> </span>
                        <a (click)="makepostFav(dt.POSTNO)" class="lovePost" [ngStyle]="{'color':click ? 'red' : '#000'}"></a>
            </div>
            <!-- <ng-templete #notfavorite>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                    <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                            {{dt.POSTTYPE}}</span> </span>
                    <a (click)="makepostFav(dt.POSTNO)" class="lovePost" [ngStyle]="{'color':click ? 'red' : '#000'}"></a>
                </div>
            </ng-templete> -->
            <div class="post-meta">
                <div *ngIf="dt.POSTMEDIAS.length == 1" class="img-single">
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 1" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '100%', height: 400}"></ng-image-slider>
                    <!-- <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 1" [images]="dt.POSTMEDIAS" #nav [imageSize]="{width: '50%'}"></ng-image-slider> -->
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 2" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 2" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '49%', height: 300}"></ng-image-slider>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 3" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length == 3" [images]="dt.POSTMEDIAS" #nav
                        [imageSize]="{width: '32%', height: 300}"></ng-image-slider>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length > 3" class="img-multiples">
                    <!-- <span style="color:red;z-index:9999;" *ngFor="let oInfo of dt.POSTMEDIAS" >TotalCount : {{dt.POSTMEDIAS.length }} imagepath: {{oInfo.image}}</span> -->
                    <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 3" [images]="dt.POSTMEDIAS" #nav></ng-image-slider>
                </div>
                <hr>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" *ngIf="dt.Excelmedia!=null">View / Download Excel</th>
                                <th scope="col" *ngIf="dt.Pdfmedia!=null">View / Download PDF</th>
                                <th scope="col" *ngIf="dt.PPTmedia!=null">View / Download PPT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Account" *ngIf="dt.Excelmedia!=null">
                                    <a [href]="dt.Excelmedia" target="_blank" class="btn btnexcel"><i
                                            class="fa fa-file-excel-o"></i> view/download</a>
                                </td>
                                <td data-label="Due Date" *ngIf="dt.Pdfmedia!=null">
                                    <a [href]="dt.Pdfmedia" target="_blank" class="btn  btnpdf"><i
                                            class="fa fa-file-pdf-o"></i> view/download</a>
                                </td>
                                <td data-label="Amount" *ngIf="dt.PPTmedia!=null">
                                    <a [href]="dt.PPTmedia" target="_blank" class="btn btnppt"> <i
                                            class="fa fa-file-powerpoint-o"></i> view/download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="description">
                    <span>{{dt.Header}}</span>
                    <p class="mb-0 pb-0 commantcolor multi_lines_text" [innerHTML]="dt.COMMENTS">
                        <!-- {{dt.COMMENTS}} -->
                    </p>
                </div>
            </div>&nbsp;&nbsp;
            <!-- Comment Implenting start -->
            <!-- <div class="row">
                <div class="col-lg-8">
                    <input style="width: 100%;" type="text" id="commentText" name="commentText"
                        (input)="onCommentChange($event.target.value)" placeholder="Comment Text Here....." />
                </div>
                <div class="col-lg-1">
                    <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                </div>
                <div class="col-lg-3">
                    <div *ngIf="UserRoleID === 'scadmin' else userComment">
                        <div *ngIf="dt.CommentCount > 0">
                            <div *ngIf="sandy==='0' else sawan1">
                                <button type="button" class="btn btn-link collapsed"
                                    (click)="CommentedUserList(dt.POSTNO)">
                                    <span class="float-right">{{dt.CommentCount}}<i> Comments</i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ng-template #userComment>
                        <div *ngIf="sandy==='0' else sawan">
                            <div *ngIf="dt.CommentCount > 0">
                                <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                                    <span class="float-right">{{dt.CommentCount}}<i>
                                            Comments</i></span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #sawan>
                        <div *ngFor="let cmtNo of SaveCommentCountResponse">
                            <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                                <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset">
                                    
                                    <button type="button" class="btn btn-link collapsed"
                                        (click)="CommentList(dt.POSTNO)">
                                        <span class="float-right">{{cmtNo.savecommentCountNo}}<i>
                                                Comments</i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #reset>
                        <div *ngIf="dt.CommentCount > 0">
                            <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                                <span class="float-right">{{dt.CommentCount}}<i>
                                        Comments</i></span>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template #sawan1>
                        <div *ngIf="dt.CommentCount > 0">
                            <div *ngFor="let cmtNo of SaveCommentCountResponse">
                                <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                                    <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset1">
                                        <button type="button" class="btn btn-link collapsed"
                                            (click)="CommentedUserList(dt.POSTNO)">
                                            <span class="float-right">{{cmtNo.savecommentCountNo}}<i>
                                                    Comments</i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #reset1>
                        <div *ngIf="dt.CommentCount > 0">
                            <button type="button" class="btn btn-link collapsed" (click)="CommentedUserList(dt.POSTNO)">
                                <span class="float-right">{{dt.CommentCount}}<i>
                                        Comments</i></span>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="modal custommodal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comment List</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closePopup()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div *ngIf="UserRoleID === 'scadmin' else adminComment">
                                <div class="row">
                                    <div class="col-xs-6" style="width: 30%;">
                                        <div *ngFor='let cmtUserlst of postCommentUserList'>
                                            <div *ngIf="cmtUserlst.UserFullName!=='Sales Admin'">
                                                <button type="button" class="btn btn-link collapsed"
                                                    (click)="Getcommentedhistory(cmtUserlst)">
                                                    <span class="float-right">{{cmtUserlst.UserFullName}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="width: 65%; height: 65%;">
                                        <div *ngFor='let chartDet of postCommentList'>
                                            {{chartDet.UserFullName}} : {{chartDet.TextMsg}}
                                        </div>
                                        <div *ngIf="createElement">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <input style="width: 100%;" type="text" id="replyText"
                                                        name="replyText" (input)="onCommentChange($event.target.value)"
                                                        placeholder="Reply Text Here....." />
                                                </div>
                                                <div class="col-lg-2">
                                                    <a><img type="submit" src="assets/images/rightarrow.PNG"
                                                            (click)="SaveReply();"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ng-template #adminComment let-index="index" let-type="type" let-data="data"
                                    let-currIndex="currIndex">
                                    <div *ngFor='let cmtlst of postCommentList'>
                                        Username({{cmtlst.UserFullName}}) : {{cmtlst.TextMsg}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngIf="UserRoleID === 'scadmin' else userComment">
                <div *ngIf="dt.CommentCount > 0">
                    <div *ngIf="sandy==='0' else sawan1">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-link collapsed"
                                    (click)="CommentedUserList(dt.POSTNO)">
                                    <span class="float-right">{{dt.CommentCount}}<i> Comments</i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #userComment>
                <div *ngIf="sandy==='0' else sawan">
                    <div class="row">
                        <div class="col-lg-8">
                            <input style="width: 100%;" type="text" id="commentText" name="commentText"
                                (input)="onCommentChange($event.target.value)" placeholder="Comment Text Here....." />
                        </div>
                        <div class="col-lg-1">
                            <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                        </div>
                        <div class="col-lg-3" *ngIf="dt.CommentCount > 0">
                            <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                                <span class="float-right">{{dt.CommentCount}}<i>
                                        Comments</i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #sawan>
                <div *ngFor="let cmtNo of SaveCommentCountResponse">
                    <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                        <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset">
                            <div class="row">
                                <div class="col-lg-8">
                                    <input style="width: 100%;" type="text" id="commentText" name="commentText"
                                        (input)="onCommentChange($event.target.value)" placeholder="Comment Text Here....." />
                                </div>
                                <div class="col-lg-1">
                                    <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                                        <span class="float-right">{{cmtNo.savecommentCountNo}}<i>
                                                Comments</i></span>
                                    </button>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #reset>
                <div class="row">
                    <div class="col-lg-8">
                        <input style="width: 100%;" type="text" id="commentText" name="commentText"
                            (input)="onCommentChange($event.target.value)" placeholder="Comment Text Here....." />
                    </div>
                    <div class="col-lg-1">
                        <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                    </div>
                    <div class="col-lg-3" *ngIf="dt.CommentCount > 0">
                        <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                            <span class="float-right">{{dt.CommentCount}}<i>
                                    Comments</i></span>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template #sawan1>
                <div *ngIf="dt.CommentCount > 0">
                    <div *ngFor="let cmtNo of SaveCommentCountResponse">
                        <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                            <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset1">
                                <div class="row">
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3">
                                        <button type="button" class="btn btn-link collapsed"
                                    (click)="CommentedUserList(dt.POSTNO)">
                                    <span class="float-right">{{cmtNo.savecommentCountNo}}<i>
                                            Comments</i></span>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #reset1>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-link collapsed"
                            (click)="CommentedUserList(dt.POSTNO)">
                            <span class="float-right">{{dt.CommentCount}}<i> Comments</i></span>
                        </button>
                    </div>
                </div>
            </ng-template>

            <div class="modal custommodal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comment List</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closePopup()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div *ngIf="UserRoleID === 'scadmin' else adminComment">
                                <div class="row">
                                    <div class="col-xs-6" style="width: 30%;">
                                        <div *ngFor='let cmtUserlst of postCommentUserList'>
                                            <div *ngIf="cmtUserlst.UserFullName!=='Sales Admin'">
                                                <button type="button" class="btn btn-link collapsed"
                                                    (click)="Getcommentedhistory(cmtUserlst)">
                                                    <span class="float-right">{{cmtUserlst.UserFullName}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="width: 65%; height: 65%;">
                                        <div *ngFor='let chartDet of postCommentList'>
                                            {{chartDet.UserFullName}} : {{chartDet.TextMsg}}
                                        </div>
                                        <div *ngIf="createElement">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <input style="width: 100%;" type="text" id="commentText"
                                                        [(ngModel)]="name"name="commentText" (input)="onCommentChange($event.target.value)"
                                                        placeholder="Reply Text Here....." />
                                                </div>
                                                <div class="col-lg-2">
                                                    <a><img type="submit" src="assets/images/rightarrow.PNG"
                                                            (click)="SaveReply();"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- Userpost comment -->
                                <ng-template #adminComment let-index="index" let-type="type" let-data="data"
                                    let-currIndex="currIndex">
                                    <div *ngFor='let cmtlst of postCommentList'>
                                        Username({{cmtlst.UserFullName}}) : {{cmtlst.TextMsg}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- Comment Implenting end -->
        </div>
    </div>
</div>
<!-- Loading Started -->
<div class="fa-3x" style="text-align: center;">
    <i class="fa fa-spinner fa-spin" style="font-size: 80px; color: royalblue;" *ngIf="loading"></i>
</div>
<!-- Loading End -->
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">+</button> -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        This is example from Popup
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>