<div class="central-meta item">
    <label>Search User Post</label>
    <div class="activity-meta">
        <div class="row">
            <div class="col-lg-3">
                <label>Post Type</label>
                <select class="sharewith form-control" id="PostType" name="PostType" [(ngModel)]="PostType">
                    <option value="1">Promotion</option>
                    <option value="2">New Product</option>
                    <option value="3">Price change</option>
                    <option value="4">Supermarket/ Act/ Route Info</option>
                    <option value="5">Sales contest</option>
                    <option value="6">Sales communicator</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>From Date</label>
                <input type="date" class="form-control" [(ngModel)]="startdate" name="startdate" />
            </div>
            <div class="col-lg-3">
                <label>To Date</label>
                <input type="date" class="form-control" [(ngModel)]="enddate" name="enddate" />
            </div>
            <div class="col-lg-3">
                <label>Search by Tag</label>
                <input type="text" class="form-control" [(ngModel)]="tagName" name="tagName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="padding-top: 33px;">
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                    (click)="searchuserData()">Search</button>&nbsp;
                <button mat-button class="btn btn-dark"
                    style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                    (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="central-meta item" *ngFor='let dt of userPostList;let i = index'>
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="assets/images/thumb-1.jpg" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{dt.CREATEDBY}}</a></ins>
                <span class="fontcolor1">published: {{dt.CREATEDON}} <span class="float-right fontcolor">Post Type:
                        {{dt.POSTTYPE}}</span> </span>
                <a (click)="makepostFav(dt.POSTNO)" class="lovePost" [ngStyle]="{'color':click ? 'red' : '#000'}"></a>
            </div>
            <div class="post-meta">
                <div *ngIf="dt.POSTMEDIAS.length ==1" class="img-single">
                    <div *ngFor="let dt of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer01 col col-lg-6">
                                <img [src]="dt.image" (click)="openImg(dt.image)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 2" class="img-multiples">
                    <div *ngFor="let d2t of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer02 column002 col col-lg-6">
                                <img [src]="d2t.image" (click)="openImg1(j,dt.POSTMEDIAS)" [ngClass]="{'active': selectedindex  == i}" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer02 column02 col col-lg-6">
                                <img [src]="d2t.image" (click)="openImg1(j, dt.POSTMEDIAS)" [ngClass]="{'active': selectedindex  == i}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 3" class="img-multiples">
                    <div *ngFor="let dtt of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer column31">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer column32">
                                <img [src]="dtt.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length == 4" class="img-multiples">
                    <div *ngFor="let d4t of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer3 column30">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer3 column301">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==3" class="imgContainer3 column302">
                                <img [src]="d4t.image" (click)="openImg1(j,dt.POSTMEDIAS)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dt.POSTMEDIAS.length > 4" class="img-multiples">
                    <div *ngFor="let dts of dt.POSTMEDIAS; let j=index">
                        <div class="row">
                            <div *ngIf="j==0" class="imgContainer03 column03 col col-lg-6">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="j==1" class="imgContainer3 column30">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==2" class="imgContainer3 column301">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div *ngIf="j==3" class="imgContainer3 column302">
                                <img [src]="dts.image" (click)="openImg1(j, dt.POSTMEDIAS)" />
                            </div>
                            <div class="coll column333">
                                <p *ngIf="j==3" (click)="openImg1(j, dt.POSTMEDIAS)" class="restImages"> + {{dt.POSTMEDIAS?.length - 4}} </p>
                            </div>
                        </div>
                    </div>
                    <!-- <ng-image-slider *ngIf="dt.POSTMEDIAS.length > 3" [images]="dt.POSTMEDIAS" #nav></ng-image-slider> -->
                </div>

                <div>
                    <table class="mt-3">
                        <thead>
                            <tr>
                                <th scope="col" *ngIf="dt.Excelmedia!=null">View / Download Excel</th>
                                <th scope="col" *ngIf="dt.Pdfmedia!=null">View / Download PDF</th>
                                <th scope="col" *ngIf="dt.PPTmedia!=null">View / Download PPT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Account" *ngIf="dt.Excelmedia!=null">
                                    <a [href]="dt.Excelmedia" target="_blank" class="btn btnexcel"><i
                                            class="fa fa-file-excel-o"></i> view/download</a>
                                </td>
                                <td data-label="Due Date" *ngIf="dt.Pdfmedia!=null">
                                    <a [href]="dt.Pdfmedia" target="_blank" class="btn  btnpdf"><i
                                            class="fa fa-file-pdf-o"></i> view/download</a>
                                </td>
                                <td data-label="Amount" *ngIf="dt.PPTmedia!=null">
                                    <a [href]="dt.PPTmedia" target="_blank" class="btn btnppt"> <i
                                            class="fa fa-file-powerpoint-o"></i> view/download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="description">
                    <span>{{dt.Header}}</span>
                    <p class="mb-0 pb-0 commantcolor multi_lines_text" [innerHTML]="dt.COMMENTS">
                        <!-- {{dt.COMMENTS}} -->
                    </p>
                    <hr>
                </div>
            </div>
            <!-- Comment Implenting start -->
            <div *ngIf="UserRoleID === 'scadmin' else userComment"> 
                <!-- <div *ngIf="UserRoleID === '1' else userComment"> -->
                <div *ngIf="dt.CommentCount > 0">
                    <div *ngIf="sandy==='0' else sawan1">
                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-link collapsed commentButton"
                                    (click)="CommentedUserList(dt.POSTNO)">
                                    <span class="float-right"><i class="fa fa-comment"></i> {{dt.CommentCount}}<i>
                                            Comments</i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #userComment>
                <div *ngIf="sandy==='0' else sawan">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="commentText" name="commentText"
                                    (input)="onCommentChange($event.target.value)"
                                    placeholder="Comment Text Here....." />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary mat-button mat-button-base "
                                        (click)="SaveComment(dt);"><i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-1">
                            <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                        </div>-->
                        <div class="col-lg-3" *ngIf="dt.CommentCount > 0">
                            <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                                <span class="float-right"><i class="fa fa-comment"></i> {{dt.CommentCount}}<i>
                                        Comments</i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #sawan>
                <div *ngFor="let cmtNo of SaveCommentCountResponse">
                    <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                        <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset">
                            <div class="row">
                                <div class="col-lg-9">

                                    <div class="input-group mb-3">
                                        <input class="form-control" type="text" id="commentText" name="commentText"
                                            (input)="onCommentChange($event.target.value)"
                                            placeholder="Comment Text Here....." />
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary mat-button mat-button-base "
                                                (click)="SaveComment(dt);"><i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </div>


                                </div>
                                <!-- <div class="col-lg-1">
                                    <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                                </div> -->
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-link collapsed"
                                        (click)="CommentList(dt.POSTNO)">
                                        <span class="float-right"><i
                                                class="fa fa-comment"></i>{{cmtNo.savecommentCountNo}}<i>
                                                Comments</i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #reset>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" id="commentText" name="commentText"
                                (input)="onCommentChange($event.target.value)" placeholder="Comment Text Here....." />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary mat-button mat-button-base "
                                    (click)="SaveComment(dt);"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-1">
                        <a><img type="submit" src="assets/images/rightarrow.PNG" (click)="SaveComment(dt);"></a>
                    </div> -->
                    <div class="col-lg-3" *ngIf="dt.CommentCount > 0">
                        <button type="button" class="btn btn-link collapsed" (click)="CommentList(dt.POSTNO)">
                            <span class="float-right"><i class="fa fa-comment"> </i>{{dt.CommentCount}}<i>
                                    Comments</i></span>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template #sawan1>
                <div *ngIf="dt.CommentCount > 0">
                    <div *ngFor="let cmtNo of SaveCommentCountResponse">
                        <div *ngIf="cmtNo.savecommentCountNo!=='0'">
                            <div *ngIf="dt.POSTNO==cmtNo.PostNo else reset1">
                                <div class="row">
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3">
                                        <button type="button" class="btn btn-link collapsed"
                                            (click)="CommentedUserList(dt.POSTNO)">
                                            <span class="float-right"><i
                                                    class="fa fa-comment"></i>{{cmtNo.savecommentCountNo}}<i>
                                                    Comments</i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #reset1>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-link collapsed" (click)="CommentedUserList(dt.POSTNO)">
                            <span class="float-right"><i class="fa fa-comment"></i>{{dt.CommentCount}}<i>
                                    Comments</i></span>
                        </button>
                    </div>
                </div>
            </ng-template>

            <!-- image enlarge start -->
            <div [style.display]="showModal ? 'block' : 'none'" class="modal custommodal" id="imagemodal" tabindex="-1"
                role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                (click)="hide()">Close</button>
                                
                        </div>
                        <!-- <div class="imgEnlarge modal-body">
                      <img src="{{currImgUrl}}" >
                    </div> -->
                        <button style="margin-right: 1043px; position:absolute;top:50%" type="button" (click)="onPrevious()" [disabled]="counter === 0">
                            <!-- <img src="http://www.w3.org/2000/svg" width="24" height="24" /> --><<
                        </button>
                        <button style="margin-left: 1162px;margin-top: -30px;position:absolute;top:57%" type="btnext button" (click)="onNext()" [disabled]="this.counter == this.imgUrl?.length - 1">
                            >>
                        </button>
                        <div class="imgEnlarge" [@animImageSlider]="counter">
                            <div *ngFor="let imge of imgUrl; let i = index">
                                <img [src]="imge.image" [ngClass]="{'image-active': selectedindex == i}" *ngIf="i === counter" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- image enlarge end -->

            <div class="modal custommodal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comment List</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closePopup()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div *ngIf="UserRoleID === 'scadmin' else adminComment">
                                <div class="row">
                                    <div class="col-xs-6" style="width: 30%; margin-right: 20px;">
                                        <div *ngFor='let cmtUserlst of postCommentUserList'>
                                            <!-- <div *ngIf="cmtUserlst.UserFullName!=='Sales Admin'"> -->
                                                <div *ngIf="cmtUserlst.UserFullName!=='SalesCommunicator Admin'">
                                                <button type="button" class="btn btn-link collapsed "
                                                    (click)="Getcommentedhistory(cmtUserlst)">
                                                    <span class="float-right">{{cmtUserlst.UserFullName}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="width: 62%; height: 65%;">
                                        <div class="mb-2" *ngFor='let chartDet of postCommentList'>
                                            {{chartDet.UserFullName}} : <span
                                                class="commentmsg">{{chartDet.TextMsg}}</span>
                                        </div>
                                        <div *ngIf="createElement">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="input-group mb-3">
                                                        <input class="form-control" type="text"
                                                            (input)="onCommentChange($event.target.value)"
                                                            [(ngModel)]="name" placeholder="Reply Text Here....." />
                                                        <div class="input-group-append">
                                                            <button type="submit"
                                                                class="btn btn-primary mat-button mat-button-base "
                                                                (click)="SaveReply();"><i
                                                                    class="fa fa-paper-plane"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- Userpost comment -->
                                <ng-template #adminComment let-index="index" let-type="type" let-data="data"
                                    let-currIndex="currIndex">
                                    <div class="mb-2" *ngFor='let cmtlst of postCommentList'>
                                        Username({{cmtlst.UserFullName}}) : <span
                                            class="commentmsg">{{cmtlst.TextMsg}}</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comment Implenting end -->
        </div>
    </div>
</div>
<!-- Loading Started -->
<div class="fa-3x" style="text-align: center;">
    <i class="fa fa-spinner fa-spin" style="font-size: 80px; color: royalblue;" *ngIf="loading"></i>
</div>
<!-- Loading End -->
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">+</button> -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        This is example from Popup
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>